html, body {
    height: 100%;
    min-width: 385px;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(57, 57, 57);
}
.container {
    max-width: 1220px;
    margin: 0px auto;
    text-align: center;
}
header .container {
    display: grid;
    grid-template: repeat(2, 40px) / 1fr;
    background-color: rgb(242, 242, 242);
}
header .container div {
    padding: 11px 0px;
}
.media {
    background-color: rgb(0, 158, 231);
    margin: 0px 20px;
    font-size: 16px;
}
.fab {
    color: white;
    margin: auto 13px;
}
.fab:hover {
    color: black;
    cursor: pointer;
}
.menu {
    padding-top: 27px;
}
li {
    list-style: none;
}
.current, .dropdown_mobile li:hover, .fa, .far, .feature:hover h3 {
    color: rgb(0, 158, 231);
    cursor: pointer;
}
.top_content {
    background: url(../images/top-banner.jpg) no-repeat center bottom;
    background-color: rgb(242, 242, 242);
}
.top {
    text-align: left;
    height: 250px;
    max-width: 1170px;
    color: white;
    padding: 0px 20px;
    margin: 0px auto;
}
.top h1 {
    margin: 0px;
    padding: 38px 0px 15px 0px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    width: 90%;
    position: relative;
}
.top h1::after {
    content: "";
    height: 5px;
    width: 80px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color:white;
}
h2 {
    font-size: 16px;
    font-weight: 400;
}
.button {
    text-align: center;
    border-radius: 25px;
}
.top_button {
    padding: 11px;
    margin: 22px 0px;
    width: 110px;
    font-size: 14px;
    color: rgb(2, 176, 255);
    background-color: white;
}
.features .container {
    display: grid;
    grid-template: repeat(4, max-content) / 1fr;
}
.features {
    margin: 85px 20px 20px;
}
.features .container div {
    margin-bottom: 30px;
}
.fa, .far {
    border: 1px solid rgb(0, 158, 231);
    padding: 13px;
    transform: scale(1.8);
    border-radius: 21px;
    margin-bottom: 20px;
}
h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 20px auto;
}
.feature div {
    line-height: 24px;
    margin: 0px;
}
.features .container div:hover .fa, .features .container div:hover .far {
    background-color: rgb(0, 158, 231);
    color: white;
}
.latest_themes {
    padding: 15px 0px;
    background-color: rgb(242, 242, 242);
    color: black;
}
.latest_themes h1 {
    font-size: 28px;
    font-weight: 400;
    padding: 40px 0px 0px 0px;
    margin: 0px;
}
.themes {
    display: grid;
    grid-template: repeat(3, 1fr) / minmax(90%, max-content);
}
.theme_container {
    padding: 0px 20px 0px 10px;
    position: relative;
    font-size: 20px;
}
.price {
    height: 20px;
    width: 70px;
    font-size: 15px;
    padding: 10px;
    background-color: rgb(2, 176, 255);
    position: absolute;
    top: 185px;
    right: 10px;
    color: white;
    z-index: 2;
}
.theme {
    height: 290px;
    overflow: hidden;
    border: 11px solid white;
    border-radius: 6px;
    margin: 30px 0px;
}
.themes_img {
    width: 100%;
}
.back {
    background-color: rgb(1, 131, 190);
    height: 40px;
    width: 10px;
    position: absolute;
    top: 194px;
    right: 10px;
    transform: skewY(-60deg);
}
.themes_button {
    width: 160px;
    background-color: rgb(2, 176, 255);
    color: white;
    margin: 90px auto;
    padding: 14px;
}
@media screen and (max-width: 478px) {
    .logo img{
        width: 63%;
    }
}
@media screen and (min-width: 550px) {
    .themes {
        grid-template: max-content / repeat(3, minmax(33%, min-content));
    }
    .theme_container {
        padding: 10px;
    }
    .price {
        top: 205px;
        right: 0px;
    }
    .theme {
        border: 9px solid white;
    }
    .back {
        top: 214px;
        right: 0px;
    }
    .themes_button {
        margin: 60px auto;
    }
}
@media screen and (max-width:767px) {
    .main_menu {
        display: grid;
        grid-template: 40px / minmax(min-content, 1fr) min-content;
        margin: 0px 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 13px;
        color: rgb(57, 57, 57);
        position: relative;
    }
    .menu_left {
        border: 1px solid rgb(218, 218, 218);
        text-align: left;
        padding: 10px 20px;
    }
    .menu_right {
        border: 1px solid rgb(218, 218, 218);
        text-align: left;
        padding: 12px 18px;
    }
    .fa-bars {
        color: rgb(197, 197, 197);
        transform: scale(1.8);
    }
    .main_menu:hover .dropdown_mobile {
        display: block;
        z-index: 1;
    }
    .main_menu:hover {
        margin-bottom: 335px;
    }
    .dropdown_mobile {
        display: none;
        position: absolute;
        top: 60px;
        left: -40px;
        width: 100%;
        margin: 0px 0px;
    }
    .dropdown_mobile li {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid rgb(197, 197, 197);
        background-color: rgb(233, 233, 233);
    }
}
@media screen and (min-width:768px) {
    header .container{
        grid-template: 40px / 72% 28%;
    }
    header .container .email {
        padding: 11px 20px;
        text-align: left;
    }
    header .container .media {
        text-align: right;
        margin: 0px;
        padding-right: 20px;
    }
    .fab {
        margin: auto 14px;
    }
    .menu .container {
        display: grid;
        grid-template: repeat(2, min-content) / 1fr;
    }
    .menu {
        padding: 0px;
    }
    .logo {
        margin: 0px;
        padding: 21px 15px 0px 15px;
        text-align: left;
    }
    .visible_mobile {
        display: none;
    }
    .dropdown_mobile {
        display: grid;
        grid-template: 50px / repeat(9, minmax(min-content, 1fr));
        padding: 0px 20px;
        margin: 0px;
    }
    .dropdown_mobile li {
        padding: 17px 14px;
        border-bottom: none;
        background-color: white;
    }
    .top {
        height: 352px;
    }
    .top h1 {
        padding: 71px 0px 19px;
        font-size: 27px;
        width: 59%;
    }
    h2 {
        font-size: 19px;
    }
    .top_button {
        margin: 30px 0px;
        padding: 11px 15px;
    }
    .features .container {
        grid-template: max-content / repeat(4, 1fr);
    }
    .features {
        margin: 85px 20px 65px 20px;
    }
    .features .container div {
        margin: 0px;
        padding: 0px 8px;
    }
    .feature div {
        margin: 0px 10px;
    }
    .price {
        top: 180px;
    }
    .theme {
        height: 260px;
    }
    .back {
        top: 189px;
    }
}
@media screen and (min-width:1000px) {
    .menu .container {
        grid-template: max-content / repeat(2, minmax(max-content, 1fr));
    }
    .dropdown_mobile {
        grid-template: 100px / repeat(9, minmax(min-content, max-content));
    }
    .dropdown_mobile li {
        padding: 43px 10px;
    }
}
@media screen and (min-width:1170px) {
    header {
        background: linear-gradient(to right, rgb(242, 242, 242), rgb(242, 242, 242) 72%, rgb(0, 158, 231) 72%, rgb(0, 158, 231))
    }
    header .container {
        background: inherit;
    }
    .top {
        height: 511px;
    }
    .top h1 {
        padding: 134px 0px 25px;
        font-size: 40px;
        line-height: 48px;
    }
    h2 {
        font-size: 21px;
        margin-top: 27px;
    }
    .top_button {
        margin: 43px 0px;
        padding: 16px 20px;
        border-radius: 23px;
        width: 120px;
    }
}