html, body {
    height: 100%;
    min-width: 385px;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
header {
    display: grid;
    grid-template: repeat(2, 40px) / 1fr;
    grid-template-areas:
    "email"
    "media";
    vertical-align: middle;
    text-align: center;
    background-color: rgb(242, 242, 242);
}
.email {
    grid-area: email;
    font-size: 14px;
    padding-top: 10px;
    color: rgb(57, 57, 57);
}
.media {
    grid-area: media;
    padding-top: 10px;
    background-color: rgba(0, 158, 231);
    margin: 0px 20px;
}
.fab {
    color: white;
    margin: auto 16px;
}
.fab:hover {
    color: black;
    cursor: pointer;
}
.menu {
    text-align: center;
    background-color: white;
    padding-top: 27px;
}
.logo img{
    margin:0px auto;
    text-align: center;
}
.hidden_menu li {
    list-style: none;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    padding-bottom: 11px;
    border-bottom: 1px solid rgb(197, 197, 197);
    background-color: rgb(233, 233, 233);
}
.current, .hidden_menu li:hover {
    color: rgba(0, 158, 231);
}
.top_content {
    background: url(../images/top-banner.jpg) no-repeat center bottom;
    background-color: rgb(242, 242, 242);
}
.top {
    text-align: left;
    height: 250px;
    max-width: 1170px;
    color: white;
    padding: 0px 20px;
    margin: 0px auto;
}
h1 {
    margin: 0px;
    padding: 38px 0px 15px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    width: 90%;
    position: relative;
}
h1::after {
    content: "";
    height: 5px;
    width: 80px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color:white;
}
h2 {
    font-size: 16px;
    font-weight: 400;
}
.button {
    margin: 22px 0px;
    padding: 11px;
    width: 110px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 158, 231);
    background-color: white;
    border-radius: 25px;
}
@media screen and (max-width: 478px) {
    .logo img{
        margin: 0px auto;
        width: 63%;
        text-align: center;
    }
}
@media screen and (max-width:1044px) {
    .visible_menu {
        display: grid;
        grid-template: 40px / minmax(min-content, 1fr) min-content;
        grid-template-areas:
        "menu list";
        margin: 0px 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 13px;
        color: rgb(57, 57, 57);
        position: relative;
    }
    .menu_left {
        border: 1px solid rgb(218, 218, 218);
        text-align: left;
        padding: 10px 20px;
    }
    .menu_right {
        border: 1px solid rgb(218, 218, 218);
        text-align: left;
        padding: 12px 18px;
    }
    .fa-bars {
        color: rgb(197, 197, 197);
        transform: scale(1.8);
    }
    .visible_menu:hover .hidden_menu {
        display: block;
        z-index: 1;
    }
    .visible_menu:hover {
        margin-bottom: 350px;
    }
    .hidden_menu {
        display: none;
        position: absolute;
        top: 60px;
        left: -40px;
        width: 100%;
        margin: 0px 0px;
    }
}
@media screen and (min-width:768px) {
    header {
        grid-template: 40px / 72% 28%;
        grid-template-areas:
        "email media";
    }
    .email {
        text-align: left;
        padding-left: 20px;
    }
    .media {
        margin: 0px;
        text-align: right;
        padding-right: 20px;
    }
    .top {
        height: 352px;
    }
    h1 {
        padding: 71px 0px 19px;
        font-size: 27px;
        width: 59%;
    }
    h2 {
        font-size: 19px;
    }
    .button {
        margin: 30px 0px;
        padding: 11px 15px;
        width: 110px;
        font-size: 15px;
    }
}
@media screen and (min-width:1045px) {
    header {
        grid-template: 40px / 72% 28%;
        grid-template-areas:
        "email media";
    }
    .email {
        text-align: left;
        padding-left: 20px;
    }
    .media {
        margin: 0px;
        text-align: right;
        padding-right: 20px;
    }
    .menu {
        margin: 0px;
        padding-top: 0px;
    }
    .logo {
        margin: 0px;
        padding: 23px 20px;
        float: left;
    }
    .visible {
        display: none;
    }
    .hidden_menu {
        display: grid;
        grid-template: 100px / repeat(9, minmax(min-content, 1fr)) ;
        grid-template-areas:
        "home themes about blog showcase support cart contact login";
        padding: 0px;
        margin: 0px;
        min-width: 600px;
        max-width: 700px;
        position: absolute;
        right: 0px;
    }
    .hidden_menu li {
        float: left;
        padding: 44px 5px;
        text-align: center;
        border-bottom: none;
        background-color: white;
    }
    .home {
        grid-area: "home";
    }
    .themes {
        grid-area: "themes";
    }
    .about {
        grid-area: "about";
    }
    .blog {
        grid-area: "blog";
    }
    .showcase {
        grid-area: "showcase";
    }
    .cart {
        grid-area: "cart";
    }
    .contact {
        grid-area: "contact";
    }
    .login {
        grid-area: "login";
    }
    .top {
        margin-top: 100px;
        padding: 0px 20px;
    }
}
@media screen and (min-width:1170px) {
    header {
        grid-template: 40px / 75% 25%;
        grid-template-areas:
        "email media";
    }
    .email {
        text-align: left;
        padding-left: 25px;
    }
    .media {
        margin: 0px;
        text-align: right;
        padding-right: 20px;
    }
    .menu {
        padding-top: 0px;
    }
    .top {
        height: 511px;
    }
    h1 {
        padding: 134px 0px 25px;
        font-size: 40px;
        line-height: 48px;
        width: 59%;
    }
    h2 {
        font-size: 21px;
        margin-top: 27px;
    }
    .button {
        margin: 43px 0px;
        padding: 16px 20px;
        border-radius: 23px;
        width: 120px;
    }
}